/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9;
    color: #1b5e20;
    padding: 20px;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

h1, h3 {
    font-size: 22px;
    text-align: center;
    color: #1b5e20;
    margin-bottom: 15px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
}

.well {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.progress-bar-container {
    background-color: #f3f3f3;
    border-radius: 13px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

.progress-bar {
    height: 100%;
    border-radius: 10px;
    background-color: #388e3c;
    width: 0%;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: bold;
}
